//
//  Tests.Default.xcconfig
//  TestApp2
//
//  Created by Mikhail Kalinin on 10.10.19.
//  Copyright © 2019 Mikhail Kalinin. All rights reserved.
//



#include "TestApp2.Default.xcconfig"



INFOPLIST_FILE = TestApp2Tests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = in.kalin.TestApp2Tests
TEST_TARGET_NAME = TestApp2
